<p style="font-size: 26px; margin: 0 0 20px 0; display: flex">
  <mat-icon inline="true" style="position: relative; top: 2px">people</mat-icon>
  Team Generator
  <span style="margin: auto 0 auto auto; font-size: 16px">
    <a (click)="onNewPage()" class="link">
      open new tab<mat-icon
        style="font-size: 16px; position: relative; top: 11px; margin-left: 5px"
        >open_in_new</mat-icon
      ></a
    ></span
  >
</p>
<div class="input-area" (mouseup)="onDraggerMouseUp();">
  <button
    mat-raised-button
    (click)="onMakeTeamsClicked()"
    class="top-button"
    color="primary"
    matTooltip="Create teams from people list"
  >
    Make Teams
  </button>
  <button
    mat-raised-button
    (click)="fileUpload.click()"
    class="top-button input-spacing"
    color="basic"
    matTooltip="Load file containing people"
  >
    Load File
    <mat-icon>attach_file</mat-icon>
  </button>
  <button
    mat-raised-button
    (click)="onLoadExampleClicked()"
    class="top-button input-spacing"
    color="basic"
    matTooltip="Load example people list"
  >
    Load Example
  </button>
</div>
<div
  (mouseup)="onDraggerMouseUp();"
  (mousemove)="onDraggerMouseMove($event);"
  #inputArea
  class="input-area flx-container"
>
  <div #peopleField class="flx-item">
    <mat-form-field [style.width.%]="100" [style.height.%]="100">
      <mat-label>Enter People</mat-label>
      <textarea
        matInput
        id="familyInput"
        autofocus
        cdkTextareaAutosize
        placeholder=""
        class="txt-areas"
        (input)="onValueChange($event)"
        [(ngModel)]="familyText"
        [ngModelOptions]="{standalone: true}"
      ></textarea>
      <button
        class="txt-area-button1"
        *ngIf="familyText"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        matTooltip="Clear people list"
        (click)="familyText=''; toastMessage('People Cleared');"
      >
        <mat-icon>close</mat-icon>
      </button>
      <button
        class="txt-area-button2"
        matSuffix
        mat-icon-button
        aria-label="Help"
        matTooltip="Show help information"
        (click)="showFamilyHelp();"
      >
        <mat-icon>question_mark</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div
    class="dragger"
    (mousedown)="onDraggerMouseDown();"
    style="display: flex; flex-direction: column; justify-content: center"
  >
    <mat-icon style="font-size: 18px; margin-left: 0px"
      >drag_indicator
    </mat-icon>
  </div>
  <div #teamField class="flx-item">
    <mat-form-field [style.width.%]="100" [style.height.%]="100">
      <mat-progress-spinner
        class="spinner"
        color="primary"
        mode="indeterminate"
        [style.visibility]="showProgress ? 'visible' : 'hidden'"
      >
      </mat-progress-spinner>
      <mat-label>{{teamsLabel}}</mat-label>
      <textarea
        matInput
        id="teamInput"
        placeholder=""
        class="txt-areas"
        cdkTextareaAutosize
        [(ngModel)]="teamText"
        [ngModelOptions]="{standalone: true}"
        [style.color]="errorColor ? 'red' : 'black'"
      >
      </textarea>
      <button
        class="txt-area-button1"
        *ngIf="teamText"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        matTooltip="Clear teams list"
        (click)="onClearTeams()"
      >
        <mat-icon>close</mat-icon>
      </button>
      <button
        class="txt-area-button2"
        *ngIf="teamText"
        matSuffix
        mat-icon-button
        aria-label="Copy"
        matTooltip="Copy teams to clipboard"
        (click)="toastMessage('Teams Copied to Clipboard')"
        [cdkCopyToClipboard]="teamText"
      >
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
<mat-accordion multi class="input-area" (mouseup)="onDraggerMouseUp();">
  <mat-expansion-panel
    matRipple
    [matRippleDisabled]="true"
    expanded="true"
    class="input-area"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>Basic Options</mat-panel-title>
    </mat-expansion-panel-header>

    <p style="margin-top: 0px">
      &nbsp;Specify Either:<br />
      <mat-button-toggle-group
        [(ngModel)]="teamControl"
        aria-label="Team Control"
        class="toggler"
        (change)="onTeamControlChange($event.value)"
      >
        <mat-button-toggle value="size">Team Size</mat-button-toggle>
        <mat-button-toggle value="count">Team Count</mat-button-toggle>
      </mat-button-toggle-group>

      <mat-form-field style="width: 130px">
        <mat-label>{{teamControlLabel}}</mat-label>
        <input
          type="number"
          min="2"
          matInput
          [(ngModel)]="sizeorcount"
          matTooltip="Number greater than two"
        />
      </mat-form-field>
    </p>

    <p>
      <mat-slide-toggle
        matTooltip="Allow people on the same line (families) to be on the same team"
        [(ngModel)]="oktogether"
        >Ok Together</mat-slide-toggle
      >

      <mat-slide-toggle
        class="input-spacing"
        matTooltip="Try to create teams of the same generation (parents v kids)"
        [(ngModel)]="generations"
        >Categories Compete
      </mat-slide-toggle>

      <mat-slide-toggle
        class="input-spacing"
        matTooltip="Try to match team size, but allow uneven team sizes"
        [(ngModel)]="uneven"
        (change)="onUnevenChange();"
        >Allow Uneven Teams</mat-slide-toggle
      >

      <mat-slide-toggle
        class="input-spacing"
        matTooltip="Drop random people to make even team sizes"
        [(ngModel)]="drop"
        (change)="onDropChange();"
        >Drop Extra People</mat-slide-toggle
      >
    </p></mat-expansion-panel
  >

  <mat-expansion-panel class="input-area">
    <mat-expansion-panel-header>
      <mat-panel-title>Advanced Options</mat-panel-title>
    </mat-expansion-panel-header>

    <div>
      <label class="">Maximum Tries: </label>
      <mat-slider
        matTooltip="Maximum number of attempts to create valid teams"
        min="100"
        [max]="maxTries"
        step="100"
        discrete
      >
        <input matSliderThumb [(ngModel)]="tries" />
      </mat-slider>
    </div>
    <div style="margin-top: 15px">
      <mat-slide-toggle
        matTooltip="Display teams in JSON format"
        [(ngModel)]="json"
        >JSON Output
      </mat-slide-toggle>
      <mat-slide-toggle
        class="input-spacing"
        matTooltip="Use commas instead of dashes between team members"
        [(ngModel)]="commas"
        [disabled]="json ? 'true' : 'false'"
        >Comma Separated Teams
      </mat-slide-toggle>
      <div style="margin-top: 10px">
        <mat-slide-toggle
          matTooltip="Use optimized browser local version. Disable if errors occur"
          [(ngModel)]="local"
          (change)="onLocalChange();"
          [disabled]="enableLocal ? 'false' : 'true'"
          >Super Fast Version
        </mat-slide-toggle>
        <mat-form-field
          appearance="fill"
          class="input-spacing"
          style="position: relative; top: 8px; left: 15px; width: 180px"
          matTooltip="Used with 'Uneven' and 'Team Size' options to round resulting number of teams"
        >
          <mat-label>Team Count Rounding</mat-label>
          <mat-select
            [(value)]="rounding"
            [disabled]="uneven && teamControl == 'size' ? 'false' : 'true'"
          >
            <mat-option value="closest">closest</mat-option>
            <mat-option value="down">down</mat-option>
            <mat-option value="up">up</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div style="margin-top: 20px">
        <button
          mat-raised-button
          (click)="onResetOptions()"
          color="basic"
          matTooltip="Reset all options to intial values"
        >
          Reset All Options
        </button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<p>
  <a
    href="https://github.com/bschick/hylat-web?tab=readme-ov-file"
    target="_blank"
    class="link"
    ><button
      mat-mini-fab
      color="primary"
      style="background-color: #727ab2; display: block; margin: 30px 0 0 auto"
      matTooltip="Team Generator is on GitHub: Get the source, report issues, or make improvements"
    >
      <mat-icon style="margin: 3px 0 0 1px" svgIcon="github"></mat-icon></button
  ></a>
</p>
<input
  type="file"
  class="file-input"
  accept="text/plain"
  (change)="onFileSelected($event)"
  #fileUpload
/>

<!-- Copyright 2023 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->
